<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      <!-- NuDriver -->
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()"><ion-icon ios="ios-log-out" md="md-log-out" color="nucolor"></ion-icon>LogOut</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- <button id="floating-panel" ion-item  *ngIf="this.showbutton == true">
        <ion-avatar item-start>
          <ion-icon name="bus" color="nucolorlight"></ion-icon>
          &nbsp; {{user}}
        </ion-avatar>
        <ion-badge style="background-color: rgba(41,182,246,1) " item-end>Time - {{usertime}}</ion-badge>
        <ion-avatar item-start>
            <ion-badge style="background-color: rgba(41,182,246,1) " item-end>Distance - {{userdistance}}</ion-badge>
          </ion-avatar>

      </button>

      <button id="floating-panel2" ion-item  *ngIf="this.showbutton == true">
        <ion-label id="alignme">{{addressme}}</ion-label>
      </button> -->

      <ion-card id="floating-panel" *ngIf="this.showbutton == true" class="animated slideInDown delay-1s">


        <ion-card-content>
            <ion-row>
                <ion-col col-10>Hello {{user}}</ion-col>
                <ion-col col-2>
                    <button ion-button outline item-end (click)="closeddriverdetails()"><ion-icon color="nucolor" name="close" style="zoom:1.0;"></ion-icon></button>
                </ion-col>
              </ion-row>

        <ion-row>
            <ion-col>
                <ion-icon name="time" color="nucolor"></ion-icon>
                &nbsp; <ion-badge style="background-color: rgba(41,182,246,1)" item-end>AT - {{usertime}}</ion-badge>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-icon name="trending-down" color="nucolor"></ion-icon>
                &nbsp;  <ion-badge style="background-color: rgba(41,182,246,1)" item-end>DIS - {{userdistance}}</ion-badge>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Your Location:
                &nbsp; {{addressme}}
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              Destination:
              &nbsp; {{destinationtakwa}}
          </ion-col>
      </ion-row>
      </ion-card-content>
</ion-card>
  <div #map style="height:100%;"></div>

  <ion-fab left bottom>
    <button ion-fab color="nucolor" (click)='closeap()'><ion-icon name="close"></ion-icon></button>
  </ion-fab>
</ion-content>
