page-login {


  .bg {
   background-image: url('../assets/imgs/backgrond.jpg');
   background-size: cover;
  }

  .bgall {
    background-color: red !important;
  }

  .forgotpassword {
    margin-top: 20px;
    text-align: center;
      // text-shadow: 1px 1px 4px rgba(3, 21, 31, 0.459);
    color: rgba(41,182,246,1);
  }




}
